#title {
    color:rgb(55, 173, 112);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 4vw;
    text-align: center;
    padding: 2vw;
}

#version {
    color:rgb(55, 173, 112);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.5vw;
    text-align: center;
    margin-bottom:1.5vw;
}

#datepicker {

    font-family: Arial, Helvetica, sans-serif;
    font-size:0.75vw;
    text-align:center;
    padding:1vw;

}

#datepickerbanner {
    color:rgb(98, 93, 93);
    display: inline;
}

input {
    border: 1px solid #c4c4c4;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: inset 0 3px 6px rgba(0,0,0,0.1);
    font-size:1vw;
    padding:0.3vw;
    display: inline;
  }

#datepickerbutton {

    background-color:rgb(55, 173, 112);
    color:white;
    margin-left:0.5vw;
    width: 6vw;
    height: 2vw;
    font-size:0.8vw;
    margin-bottom:0.5vw;

}

#userlist {
    margin-top:2vw;
}

#viewButton {

    color:rgb(55, 173, 112);
    font-weight:bold;

}

.listClass {

    width:75%;

}